 body{

  margin: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100px;
  justify-content: center;
  background: url("https://images.hdqwalls.com/download/red-mountains-morning-minimal-4k-dn-1440x900.jpg");
  background-size: cover;
  overflow: hidden;
  font-family: 'Aboreto', cursive;

 }

 h2{

  text-transform: uppercase;
  letter-spacing: 10px;
  font-size: 30px;
  text-align: center;
  color: #F7D0D6;

 }

 .clock{

  display: flex;

 }

 .clock div{

  margin: 5px;
  position: relative;

 }

 .clock span{

  width: 100px;
  height: 80px;
  background: #EB9A67;
  opacity: 0.8;
  color: #F7D0D6;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  text-shadow: 2px 2px 4px black;

 }

 .clock #text{

  height: 30px;
  font-size: 10px;
  text-transform: uppercase;
  latter-spacing: 4px;
  background: #D05E6D;
  opacity: 0.8;

 }

 .clock #AmPm{

   bottom: 0;
   position: absolute;
   width: 60px;
   height: 30px;
   font-size: 20px;
   background: #E38342;

  }